.container {
    .qrcodecontainer {
        background-color: rgb(213, 225, 239);
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.innercard {
    width: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding-bottom: 35px;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
    gap: 15px;
    background-color: white;
    > img {
        background-size: auto;
        padding: 15px;
        border-radius: 25px;
        padding-bottom: 9px;
    }
    > p {
        color: black;
        font-weight: 600;
    }
}
