.button_submit {
    position: relative;
    background-color: rgb(43, 40, 40);
    border-radius: 4em;
    font-size: 16px;
    color: white;
    padding: 0.8em 1.8em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.button_submit:hover {
    transition-duration: 0.1s;
    background-color: #3a3a3a;
}

.button_submit:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px rgb(159, 243, 239);
}

.button_submit:active:after {
    box-shadow: 0 0 0 0 rgb(112, 228, 211);
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

.button_submit:active {
    top: 1px;
}
.button_submit:disabled {
    opacity: 0.5;
}
